<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{admin/fragments/partials/head}"></head>
<body>
    <!-- Fixed parts -->
    <nav th:replace="~{admin/fragments/partials/nav}"></nav>
    
    <!-- Main content placeholder -->
    <main layout:fragment="content">
        <!-- Page-specific content will go here -->
    </main>
    
    <footer th:replace="~{admin/fragments/partials/footer}"></footer>
</body>
</html>