<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{shared/layouts/main}">

<body>
    <main layout:fragment="content">
        <div class="container mt-3" th:if="${reservationSuccess}">
            <p class="alert alert-success" th:text="#{reservation.success}"></p>
        </div>
        <section th:replace="~{guest/fragments/sections/highlight}"></section>
        <section th:replace="~{guest/fragments/sections/about}"></section>
        <section th:replace="~{guest/fragments/sections/services}"></section>
    </main>
</body>

</html>
