<section id="highlight" class="
            position-relative
            text-center
            text-white
            d-flex
            justify-content-center
            align-items-center
            ">

    <!-- Overlay -->

    <div class="overlay position-absolute top-0 start-0 w-100 h-100 transparent-black-background"></div>

    <div class="container position-relative">
        <h1 class="display-3 fw-bold" th:text="#{index.title}">Title placeholder</h1>
        <a href="#about" class="btn btn-primary learn-more-button bg-light text-black border-0"
            th:text="#{index.learn-more}">Learn more placeholder</a>
    </div>
</section>