<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{shared/layouts/main}">

<body>
    <main layout:fragment="content">
        <section id="collaborators" class="mb-5">
            <div class="container text-center">
                <h2 class="mb-4" th:text="#{colabs.title}"></h2>
                <p class="col-md-8 mx-auto mb-5" th:text="#{colabs.description}"></p>

                <div class="row g-4">

                    <!-- Collaborator Card 1 -->
                    <div class="col-md-4">
                        <div class="card h-100 shadow-sm">
                            <img src="/images/colabs/abueno.webp" class="card-img-top" alt="Collaborator 1">
                            <div class="card-body">
                                <h5 class="card-title" th:text="#{colabs.name1}"></h5>
                                <p class="card-text" th:text="#{colabs.description1}"></p>
                            </div>
                        </div>
                    </div>

                    <!-- Collaborator Card 2 -->
                    <div class="col-md-4">
                        <div class="card h-100 shadow-sm">
                            <img src="/images/colabs/laluna.webp" class="card-img-top" alt="Collaborator 4">
                            <div class="card-body">
                                <h5 class="card-title" th:text="#{colabs.name2}"></h5>
                                <p class="card-text" th:text="#{colabs.description2}"></p>
                            </div>
                        </div>
                    </div>

                    <!-- Collaborator Card 3 -->
                    <div class="col-md-4">
                        <div class="card h-100 shadow-sm">
                            <img src="/images/colabs/salero.webp" class="card-img-top" alt="Collaborator 5">
                            <div class="card-body">
                                <h5 class="card-title" th:text="#{colabs.name3}"></h5>
                                <p class="card-text" th:text="#{colabs.description3}"></p>
                            </div>
                        </div>
                    </div>

                    <!-- Collaborator Card 4 -->
                    <div class="col-md-4">
                        <div class="card h-100 shadow-sm">
                            <img src="/images/colabs/instalacionesraul.webp" class="card-img-top" alt="Collaborator 2">
                            <div class="card-body">
                                <h5 class="card-title" th:text="#{colabs.name4}"></h5>
                                <p class="card-text" th:text="#{colabs.description4}"></p>
                            </div>
                        </div>
                    </div>

                    <!-- Collaborator Card 5 -->
                    <div class="col-md-4">
                        <div class="card h-100 shadow-sm">
                            <img src="/images/colabs/jaire.webp" class="card-img-top" alt="Collaborator 3">
                            <div class="card-body">
                                <h5 class="card-title" th:text="#{colabs.name5}"></h5>
                                <p class="card-text" th:text="#{colabs.description5}"></p>
                            </div>
                        </div>
                    </div>

                    <!-- Collaborator Card 6 -->
                    <div class="col-md-4">
                        <div class="card h-100 shadow-sm">
                            <img src="/images/colabs/hyundai.webp" class="card-img-top" alt="Collaborator 6">
                            <div class="card-body">
                                <h5 class="card-title" th:text="#{colabs.name6}"></h5>
                                <p class="card-text" th:text="#{colabs.description6}"></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
</body>

</html>