<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{guest/layouts/main}">

<body>
  <main layout:fragment="content">
    <section id="collaborators" class="mb-5">
      <div class="container text-center">
        <h2 class="mb-4" th:text="#{colabs.title}">Our Collaborators</h2>
        <p class="col-md-8 mx-auto mb-5" th:text="#{colabs.description}">We work with the best partners to provide you
          with exceptional service</p>

        <div class="row g-4">

          <!-- Collaborator Card 1 -->
          <div class="col-md-4">
            <div class="card h-100 shadow-sm">
              <img src="/images/colabs/abueno.png" class="card-img-top" alt="Collaborator 1">
              <div class="card-body">
                <h5 class="card-title" th:text="#{colabs.name1}">Collaborator Name</h5>
                <p class="card-text" th:text="#{colabs.description1}">Brief description of collaboration</p>
              </div>
            </div>
          </div>

          <!-- Collaborator Card 2 -->
          <div class="col-md-4">
            <div class="card h-100 shadow-sm">
              <img src="/images/colabs/laluna.png" class="card-img-top" alt="Collaborator 4">
              <div class="card-body">
                <h5 class="card-title" th:text="#{colabs.name2}">Collaborator Name</h5>
                <p class="card-text" th:text="#{colabs.description2}">Brief description of collaboration</p>
              </div>
            </div>
          </div>

          <!-- Collaborator Card 3 -->
          <div class="col-md-4">
            <div class="card h-100 shadow-sm">
              <img src="/images/colabs/salero.png" class="card-img-top" alt="Collaborator 5">
              <div class="card-body">
                <h5 class="card-title" th:text="#{colabs.name3}">Collaborator Name</h5>
                <p class="card-text" th:text="#{colabs.description3}">Brief description of collaboration</p>
              </div>
            </div>
          </div>

          <!-- Collaborator Card 4 -->
          <div class="col-md-4">
            <div class="card h-100 shadow-sm">
              <img src="/images/colabs/instalacionesraul.png" class="card-img-top" alt="Collaborator 2">
              <div class="card-body">
                <h5 class="card-title" th:text="#{colabs.name4}">Collaborator Name</h5>
                <p class="card-text" th:text="#{colabs.description4}">Brief description of collaboration</p>
              </div>
            </div>
          </div>

          <!-- Collaborator Card 5 -->
          <div class="col-md-4">
            <div class="card h-100 shadow-sm">
              <img src="/images/colabs/jaire.png" class="card-img-top" alt="Collaborator 3">
              <div class="card-body">
                <h5 class="card-title" th:text="#{colabs.name5}">Collaborator Name</h5>
                <p class="card-text" th:text="#{colabs.description5}">Brief description of collaboration</p>
              </div>
            </div>
          </div>

          <!-- Collaborator Card 6 -->
          <div class="col-md-4">
            <div class="card h-100 shadow-sm">
              <img src="/images/colabs/hyundai.png" class="card-img-top" alt="Collaborator 6">
              <div class="card-body">
                <h5 class="card-title" th:text="#{colabs.name6}">Collaborator Name</h5>
                <p class="card-text" th:text="#{colabs.description6}">Brief description of collaboration</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
  </main>
</body>

</html>