<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{shared/layouts/main}">

<body>
    <main layout:fragment="content">

        <h2 th:text="#{log.title}"></h2>

    <form action="/log/list" class="form-inline mb-3">

        <div class="form-group">
            <select name="action" id="action">
                <option value="ALL" th:text="#{log.action.all}" th:selected="${action == 'ALL'}">Todas</option>
                <option value="PET" th:text="#{log.action.pet}" th:selected="${action == 'PET'}">Pet</option>
                <option value="ALTA" th:text="#{log.action.alta}" th:selected="${action == 'ALTA'}">Alt</option>
                <option value="LOGIN_EX" th:text="#{log.action.login.ex}" th:selected="${action == 'LOGIN_EX'}">Ex</option>
                <option value="LOGIN_ERR" th:text="#{log.action.login.err}" th:selected="${action == 'LOGIN_ERR'}">Err</option>
                <option value="LOGOUT" th:text="#{log.action.logout}" th:selected="${action == 'LOGOUT'}">Out</option>
            </select>
        </div>

        <button class="btn btn-primary ml-3" th:text="#{log.search.button}" type="submit">Buscar</button>
        <button onclick="deleteLogs()" id="deleteButton" class="btn btn-danger ml-3" type="button">Delete</button>
        <script>
            function deleteLogs() {
                let selectedOption = document.getElementById('action').value;
                window.location.href = '/log/delete?action=' + selectedOption;
            }
        </script>

    </form>

    <div class="table-responsive">
        <table class="table table-hover" id="tableLogs">
            <thead>
            <tr>
                <th scope="col" th:text="#{log.date}"></th>
                <th scope="col" th:text="#{log.action}"></th>
                <th scope="col" th:text="#{log.message}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="log : ${logMessages}">
                <td scope="row" th:text="${log.date}"></td>
                <td scope="row" th:text="${log.action}"></td>
                <td scope="row" th:text="${log.message}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    </main>
</body>

</html>
