<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<body>
    <main layout:fragment="content">
        <section th:replace="~{fragments/components/highlight}"></section>
        <section th:replace="~{fragments/components/reservation}"></section>
        <section th:replace="~{fragments/components/about}"></section>
        <section th:replace="~{fragments/components/slogan}"></section>
        <section th:replace="~{fragments/components/colabs}"></section>
        <section th:replace="~{fragments/components/services}"></section>
        <section th:replace="~{fragments/components/contact}"></section>
        <section th:replace="~{fragments/components/otherpages}"></section>
    </main>
</body>
</html>