<div class="questions-container">
    <div class="table-responsive">
        <table class="table table-hover table-bordered" id="questionTable">
            <thead class="table-light">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email 📧</th>
                    <th scope="col">Message ⭐</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="question : ${questionList.content}" data-bs-toggle="modal"
                    data-bs-target="#messageModalQuestion" th:data-bs-message="${question.guestMessage}"
                    th:data-bs-name="${question.guestFullName}" th:data-bs-email="${question.guestEmail}">
                    <td th:text="${question.guestFullName}"></td>
                    <td th:text="${question.guestEmail}"></td>
                    <td th:text="${question.guestMessage}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center mt-3" th:if="${questionList.totalPages > 0}">
        <ul class="pagination">
            <li class="page-item" th:classappend="${questionList.first ? 'disabled' : ''}">
                <a class="page-link" th:attr="data-page=${questionList.number - 1}" href="#">«</a>
            </li>
            <li class="page-item" th:each="pageNumber : ${#numbers.sequence(0, questionList.totalPages - 1)}"
                th:classappend="${pageNumber == questionList.number ? 'active' : ''}">
                <a class="page-link" th:attr="data-page=${pageNumber}" href="#" th:text="${pageNumber + 1}"></a>
            </li>
            <li class="page-item" th:classappend="${questionList.last ? 'disabled' : ''}">
                <a class="page-link" th:attr="data-page=${questionList.number + 1}" href="#">»</a>
            </li>
        </ul>
    </div>
</div>