#highlight {
    background-image: url('/images/hotel/room1.jpg');
    height: 85vh;
    background-size: cover;
    background-position: center;
}

#slogan {
    height: 50vh;
    background-size: cover;
    background-position: center;
}

#services {
    margin-top: 5vh;
}

#highlight,
#slogan,
#reservation,
#about,
#services,
#contact,
#reservations,
#questions
{
    scroll-margin-top: 10vh;
}

#rules {
    margin-top: 12vh;
}

main {
    margin-top: 12vh;
}

.transparent-black-background {
    background: rgba(0, 0, 0, 0.25);
}

.translation-icon {
    width: 30px;
    height: 30px;
}

.flag{
    border: 0;
    float: left;
    margin-right: 15px;
}

.learn-more-button {
    padding: 10px 25px;
    font-size: 1rem;
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

#highlight h1 {
    font-family: 'Poppins',sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

nav {
    z-index: 1050;
}

.btn-primary {
    background-color: #34792b;
    border-color: #34792b;  
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

/* For Admin Dashboard */

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

table {
    white-space: nowrap;
}

@media (max-width: 768px) {
    
    h1, h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .btn {
        font-size: 0.875rem;
    }
}