<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>

<body>
    <!-- Navigation Bar -->
    <section th:replace="~{fragments/nav}"></section>
    
    <!-- Highlight Section -->
    <section th:replace="~{fragments/highlight}"></section>
    
    <!-- Reservation -->
    <section th:replace="~{fragments/reservation}"></section>
    
    <!-- About Section -->
    <section th:replace="~{fragments/about}"></section>

    <!-- Slogan section -->
    <section th:replace="~{fragments/slogan}"></section>

    <!-- Colabs -->
    <section th:replace="~{fragments/colabs}"></section>

    <!-- Other projects -->
    <section th:replace="~{fragments/otherProjects}"></section>

    <!-- Services Section -->
    <section th:replace="~{fragments/services}"></section>

    <!-- Other Pages -->
    <section th:replace="~{fragments/otherPages}"></section>

    <!-- Contact Section -->
    <section th:replace="~{fragments/contact}"></section>

    <!-- Footer -->
    <footer th:replace="~{fragments/footer}"></footer>

</body>

</html>